asgiref==3.7.2
asyncio==3.4.3
beautifulsoup4==4.12.2
certifi==2023.5.7
charset-normalizer==3.2.0
colorama==0.4.6
distlib==0.3.7
Django==4.2.3
django-livereload-server==0.4
filelock==3.12.2
idna==3.4
platformdirs==3.9.1
psycopg2==2.9.6
pyTelegramBotAPI==4.12.0
qrcode==7.3.1
rel==0.4.9
requests==2.31.0
schedule==1.2.0
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.4
telebot==0.0.5
tornado==6.3.2
tzdata==2023.3
urllib3==2.0.3
virtualenv==20.24.0
websocket-client==1.6.1
websockets==11.0.3
