{%extends 'structure.html'%}
{%load static%}

{%block title%}VictoryTips - Bac Bo{%endblock%}

{%block static%}
    <link rel='stylesheet' href='{%static "css/home/indexLogged.css"%}'>
{%endblock%} 

{%block fonts%}

{%endblock%}


{%block content%}
    <section class="main no-mobile">
        <section class="main-left main-sides">
            <div class="main-left-menu">
                <div class="menu-logo">
                    <img class="no-select" src="{%static 'images/logo.png'%}">
                </div>
                <div class="menu-items">
                    <div class="menu-item">
                        <h3 class="no-select selected">Home</h3>
                    </div>
                    <div class="menu-item">
                        <a href="/bacbo">
                            <h3 class="no-select selected">Bac Bo</h3>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href="/crazy">
                            <h3 class="no-select selected">Crazy Time</h3>
                        </a>
                    </div>
                </div>
                <div class="menu-logout">
                    <div class="menu-logout-button">
                        <a href="/logout">
                            <div class="btn-logout no-select">Sair</div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="main-right main-sides">
            <div class="main-right-content">
                <div class="content-header">
                    <img class="no-select" src="{%static 'images/group.png'%}">
                    <h3>Gerenciamento de Canais (Bac Bo)</h3>
                </div>
                <div class="content-control">
                    <div class="control-panel-add control-panel">
                        <div class="control-panel-function-title control-panel">
                            <h3 class="no-select">Adicionar Novo Canal</h3>
                        </div>
                        <div class="control-panel-function-button">
                            <div class="btn-add no-select">+</div>
                        </div>
                    </div>
                    <div class="control-panel-manager">
                        <div class="control-panel-function-title">
                            <h3 class="no-select">Gerenciar Canais</h3>
                            <div class="line"></div>
                        </div>
                        <div class="control-panel-function-content">
                            <div class="manager-group-title group-row">
                                <div class="group-column">
                                    <h3 class="no-select">Nome</h3>
                                </div>
                                <div class="group-column">
                                    <h3 class="no-select">Tipo</h3>
                                </div>
                                <div class="group-column">
                                    <h3 class="no-select">Status</h3>
                                </div>
                            </div>
                            <div class="manager-group-content">
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-window">
                
            </div>
        </section>
    </section>
{%endblock%}

{%block scripts%}
    <script src='{%static "js/home/bacbo.js"%}'></script>
    <script>
        getGroups();
    </script>
{%endblock%}