<div class="window-card">
    <div class="group">
        <div class="group-title">
            <h3 class="no-select">Adicionar Cliente</h3>
        </div>
        <div class="group-content">
            <div class="group-info">
                <h3 class="no-select">Nome</h3>
                <div class="group-info-input">
                    <input type="text" class="group-name" name="name" id="name" placeholder="Evandro Alves">
                </div>
            </div>
            <div class="group-info info-start">
                <h3 class="no-select">CPF</h3>
                <div class="group-info-input">
                    <input type="text" class="group-name" name="cpf" id="cpf" placeholder="999.999.999-99">
                </div>
            </div>
            <div class="group-info info-limit">
                <h3 class="no-select">E-mail</h3>
                <div class="group-info-input">
                    <input type="text" class="group-name" name="email" id="email" placeholder="teste@uorak.com">
                </div>
            </div>
            <div class="group-info info-status">
                <h3 class="no-select game-title">Roleta Evolution</h3>
                <div id="roleta-evo" class="status false" data-id="false"></div>
            </div>
            <div class="group-info info-status">
                <h3 class="no-select game-title">Dados (Bac Bo)</h3>
                <div id="dados" class="status false" data-id="false"></div>
            </div>
            <div class="group-info info-status">
                <h3 class="no-select game-title">Football Studio</h3>
                <div id="football" class="status false" data-id="false"></div>
            </div>
            <div class="group-info info-status">
                <h3 class="no-select game-title">Football Dice</h3>
                <div id="football-dice" class="status false" data-id="false"></div>
            </div>
            <div class="group-info info-status">
                <h3 class="no-select game-title">Roleta Playtech</h3>
                <div id="roleta-playtech" class="status false" data-id="false"></div>
            </div>
            <div class="btn-add-form btn-form">
                <div class="btn-add-button btn-button-form">Adicionar</div>
            </div>
        </div>
        <div class="no-select close-notification">
            <span>X</span>
        </div>
    </div>
</div>