{%load static%}
<div class="window-card">
    <div class="group">
        <div class="group-title">
            <h3 class="no-select" id="title-text-form" data-id="{{client.containers.client.id}}">Editar Cliente</h3>
        </div>
        <div class="group-content">
            <div class="group-info">
                <h3 class="no-select">Nome</h3>
                <div class="group-info-input">
                    <input type="text" class="group-name" name="name" id="name" placeholder="Evandro Alves" value="{{client.containers.client.name}}">
                </div>
            </div>
            <div class="group-info info-start">
                <h3 class="no-select">CPF</h3>
                <div class="group-info-input">
                    <input type="text" class="group-name" name="cpf" id="cpf" placeholder="999.999.999-99" value="{{client.containers.client.cpf}}">
                </div>
            </div>
            <div class="group-info info-limit">
                <h3 class="no-select">E-mail</h3>
                <div class="group-info-input">
                    <input type="text" class="group-name" name="email" id="email" placeholder="teste@uorak.com" value="{{client.containers.client.email}}">
                </div>
            </div>
            <div class="group-info info-status">
                <h3 class="no-select game-title">Roleta Evolution</h3>
                <div id="roleta-evo" class="status {{client.containers.client.roleta_evo}}" data-id="{{client.containers.client.roleta_evo}}"></div>
            </div>
            <div class="group-info info-status">
                <h3 class="no-select game-title">Bac Bo</h3>
                <div id="dados" class="status {{client.containers.client.dados}}" data-id="{{client.containers.client.dados}}"></div>
            </div>
            <div class="group-info info-status">
                <h3 class="no-select game-title">Football Studio</h3>
                <div id="football-studio" class="status {{client.containers.client.football_studio}}" data-id="{{client.containers.client.football_studio}}"></div>
            </div>
            <div class="group-info info-status">
                <h3 class="no-select game-title">Football Dice</h3>
                <div id="football-dice" class="status {{client.containers.client.football_dice}}" data-id="{{client.containers.client.football_dice}}"></div>
            </div>
            <div class="group-info info-status">
                <h3 class="no-select game-title">Roleta Playtech</h3>
                <div id="roleta-playtech" class="status {{client.containers.client.roleta_playtech}}" data-id="{{client.containers.client.reoleta_playtech}}"></div>
            </div>
            <div class="btn-add-form btn-form">
                <div class="btn-update-button btn-button-form">Atualizar</div>
            </div>
        </div>
        <div class="no-select close-notification">
            <span>X</span>
        </div>
    </div>
</div>